<div class="card">
  <div class="card-header">
    <input type="text" [(ngModel)]="inputText">
    <button (click)="addItem()" type="button" class="btn btn-primary button-add">add</button>
    <button (click)="upload()" type="button" class="btn btn-primary ccc">upload</button>
  </div>
  <div class="card-body">
    <ul class="card-body_list">
      <app-list-item 
      (onRemove)="remove($event)"
      (onEdit)="edit($event)"
      [inputitem]="item" 
      [index]="i"
      *ngFor="let item of list; let i = index"></app-list-item>
    </ul>
  </div>
</div>
