.card {
  width: 500px;
  margin: auto;
  margin-top: 30px;
}
.card-header {
  display: flex;
}
.card-body_list {
  list-style: none;
  padding: 0;
}
.button-add,
.button-upload {
  margin-left: auto;
}