.done {
  text-decoration: line-through;
}
.list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.list-item_field {
  margin-left: 10px;
}

.list-item_edit {
  margin-left: auto;
}

.list-item_del {
  margin-left: 5px;
}
.active {
  background-color: aquamarine;
}