<li class="list-item"  [ngClass] = "{active: inputitem.active}">
  <input type="checkbox" (click)="isDone()">
  <span [ngClass] = "{done: inputitem.done}" class="list-item_field"> {{inputitem.title}} </span> 
  <button type="button" class="btn btn-warning list-item_edit"(click)="edit()">edit</button>
  <button type="button" class="btn btn-danger list-item_del"(click)="remove()">delete</button>
</li>